
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background-color: black;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

#container-inner {
    display: inline-block;
}

table {
    background-color: black;
    border-collapse: collapse;
}

table td {
    border: 0.15rem solid white;
    padding: 0.5rem;
    height: 2.5rem;
}

table td:has(> button) {
    padding: 0;
}

#roll {
    background-color: rgb(150, 0, 0);
    padding: 0.8rem;
    width: 7.5rem;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the text */
    margin-top: 0.6rem;
    cursor: pointer;
}

#gameTable {
    margin-bottom: 1.5rem;
}

#handTable {
    margin-top: 1.5rem;
}

#hand td[data-locked="false"] {
    background-color: rgb(0, 160, 0);
    width: 2.5rem;
    cursor: pointer;
    user-select: none;
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the text */
}
#hand td[data-locked="true"] {
    background-color: rgb(0, 80, 0);
    width: 2.5rem;
    cursor: pointer;
    user-select: none;
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the text */
}

#gameTable td[data-placable="false"] {
    background-color: rgb(0, 160, 0);
    width: 2.5rem;
    cursor: pointer;
    user-select: none;
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the text */
}
#gameTable td[data-placable="true"] {
    background-color: rgb(0, 80, 0);
    width: 2.5rem;
    cursor: pointer;
    user-select: none;
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the text */
}
#gameTable td[data-placable="placed"] {
    background-color: rgb(110, 0, 0);
    width: 2.5rem;
    cursor: pointer;
    user-select: none;
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the text */
}